* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

a {
  text-decoration: none;
}

/** ------------------- */
/** Loading Bar */
.loader-truck {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}

/** ------------------- */

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 30px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-D7C8C3: #d7c8c3;
  --color-BABAC4: #babac4;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
  --color--212529: #212529;
  --color--ffd333: #ffd333;
  --color-828599: #828599;
  --color-ed464d: #db162094;
  --color-c3d4da: #c3d4da;
  --scrollbar-thumb: #131921;
  --scrollbar-track: #3b4149;
}

.move {
  cursor: pointer;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 25px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: 25px;
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: #131921;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
}

/***** Spin Animation *****/

.bar--top {
  bottom: calc(40% + 8px + 2px / 2);
  transition-property: bottom, transform;
  transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
  top: calc(50% - 2px / 2);
  transition-property: opacity;
  transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
  top: calc(49% + 8px + 2px / 2);
  transition-property: top, transform;
  transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 2px / 2);
  transform: rotate(135deg);
  transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 5px / 2);
  transform: rotate(225deg);
  transition-delay: 0s, calc(0s + 0.35s);
}

/** WELCOME WRAPPER START  */

.welcome-wrapper {
  background: var(--color-131921);
  min-height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 100px;
}

.welcome-wrapper .header img {
  margin-left: 20px;
}

.welcome-wrapper .header h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.animate {
  background-color: #131921;
}

@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(800px);
  }
}

@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
  position: absolute;
  z-index: 10;
  right: 50%;
  bottom: 0;
  transform: translateY(0px);
  height: 700px;
}

.box-of-star1 {
  animation: snow 5s linear infinite;
}

.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
  animation: snow 5s -2.3s linear infinite;
}

.box-of-star4 {
  animation: snow 5s -3.3s linear infinite;
}

.star {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}

.star:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: 0.7;
}

.star:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: 0.9;
}

.star-position1 {
  top: 30px;
  left: 20px;
}

.star-position2 {
  top: 110px;
  left: 250px;
}

.star-position3 {
  top: 60px;
  left: 570px;
}

.star-position4 {
  top: 120px;
  left: 900px;
}

.star-position5 {
  top: 20px;
  left: 1120px;
}

.star-position6 {
  top: 90px;
  left: 1280px;
}

.star-position7 {
  top: 30px;
  left: 1480px;
}

.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  cursor: pointer;
  z-index: 11;

  transform: translateX(-50%);
  top: calc(100% - 20px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(
    left,
    #e3e8eb 0%,
    #e3e8eb 50%,
    #fbfdfa 50%,
    #fbfdfa 100%
  );
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}

.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(
    top,
    #15aece 0%,
    #15aece 50%,
    #0391bf 50%,
    #0391bf 100%
  );
  border-radius: 15px;
}

.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}

.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(
    left,
    #e3e8eb 0%,
    #e3e8eb 50%,
    #fbfdfa 50%,
    #fbfdfa 100%
  );
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}

.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}

.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}

.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm-left:after {
  background-color: #6e91a4;
  left: 0;
}

.arm-right:after {
  right: 0;
  background-color: #b6d2e0;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg-left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}

.leg-right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}

/** WELCOME WRAPPER END  */

/*?--------------------------------------------- */

/** ADMIN LOGIN PART END */

.login-wrapper {
  background: var(--color-131921);
  min-height: 100vh;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 400px;
  padding: 40px;
  height: 500px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.form-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 400px;
  padding: 40px;
  height: 400px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.inputContainer {
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  width: 100%;
  height: 90px;
}

.inputContainer-2 {
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  width: 100%;
  height: 20px;
}

.fInput {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: 1px solid rgb(48, 45, 45);
  background-color: black;
  padding: 10px;
  color: white;
  transition: 0.1s;
  position: absolute;
}

.fInput:focus {
  border: 1px rgb(0, 136, 255) solid;
  outline: none;
}

.fInput:focus::placeholder {
  color: rgb(0, 136, 255);
}

.fInput.email {
  z-index: 1;
}

.fInput.pass:focus {
  z-index: 2;
}

.submit {
  width: 100%;
  top: 75px;
  padding: 7px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
}

.submit:focus + .email {
  display: none;
}

.submit-2 {
  width: 100%;
  top: 85px;
  padding: 7px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
}

.submit-2:focus + .email {
  display: none;
}

.login {
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0;
  position: absolute;
  top: 70px;
  left: 100px;
}

.login-3 {
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 0;
  position: absolute;
  top: 70px;
  left: 100px;
}

.backlogin-3 {
  color: white;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 11px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.submit:hover {
  opacity: 0.9;
}

.forget {
  width: 100%;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  margin-top: 15px;
  padding: 7px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 50px;
}

.forget:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.151);
}

.forget-2 {
  width: 100%;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  margin-top: 15px;
  padding: 7px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 60px;
}

.forget-2:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.151);
}

.link {
  width: 100%;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.password-eye-mobile-login {
  right: 20px;
  top: 10px;
}

.eye-btn {
  cursor: pointer;
  width: 20px;
  filter: invert(1);
  color: white;
}

.typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/** ADMIN LOGIN PART END  */

/*?--------------------------------------------- */

/** ADMIN MAIN LAYOUT PART START  */

.ant-layout {
  min-height: 100vh;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color-ededed) var(--color-f5f5f7);
  background-color: transparent !important;
}

.logo {
  padding: 20px;
}

.ant-layout-sider {
  flex: 0 0 220px !important;
  max-width: 220px !important;
  min-width: 220px !important;
  width: 220px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 88px !important;
  max-width: 88px !important;
  min-width: 88px !important;
  width: 88px !important;
}

.anticon {
  font-size: 18px !important;
}

.fss {
  font-size: 18px !important;
}

.ant-layout-header h5 {
  line-height: 25px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 15px;
  font-size: 13px;
}

/** NOTIFICATION */
.button {
  width: 33px;
  height: 33px;
  margin-top: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
}

.bell {
  width: 15px;
}

.bell path {
  fill: white;
}

.button:hover {
  background-color: rgb(56, 56, 56);
}

.button:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button:active {
  transform: scale(0.8);
}

.badge {
  background-color: var(--color-febd69);
  border-radius: 50%;
  font-size: 10px;
  bottom: 60%;
  left: 60%;
  color: black;
}

.form-control {
  box-shadow: none;
  border-color: var(--color-c3d4da);
}

.title {
  font-size: 38px !important;
  font-family: Roboto !important;
  color: var(--color--212529);
}

.subtitle {
  font-size: 24px !important;
  font-family: Roboto !important;
  color: var(--color--212529);
}

.desc-title {
  font-size: 14px !important;
  font-family: Roboto !important;
  color: var(--color-828599);
}

.desc-title-2 {
  font-size: 14px !important;
  font-family: Roboto !important;
  color: rgba(74, 4, 50, 0.623);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  z-index: 1;
  right: 0;
  top: 65px;
}

.heading {
  font-size: 14px !important;
}

/** ADMIN MAIN LAYOUT PART END  */

/*?___________________________________________________ */

/** ADD BLOG PART START  */
.quill {
  z-index: -1000;
}
.add-button {
  padding: 7px 35px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  z-index: 1;
}

.add-button::after,
.add-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.add-button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.add-button::after {
  transform: translate(12px, 10px);
  width: 30px;
  height: 30px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.add-button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.add-button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.add-button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/** ADD BLOG PART END  */

/** ADD CUSTOMER PROFILE PART START  */

.card {
  --main-color: #000;
  --submain-color: #78858f;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  width: 300px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}

.card-2 {
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 300px;
  height: auto;
  display: flex;
  flex-grow: 1;
  border-radius: 20px;
  background: var(--bg-color);
}

.card__img {
  height: 192px;
  width: 100%;
}

.card__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

.image-cricle {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #000000;
  border-radius: 50%;
  bottom: 40%;
  left: 25%;
  z-index: 99999;
}

.avatar-image {
  overflow: hidden;
  border-radius: 50%;
}

.customer-details p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #3b4149;
}

.blocked {
  padding: 3px 4px;
  color: #cf1322;
  background: #fff1f0;
  border: 1px solid #d9d9d9;
  border-color: #ffa39e;
}

.unblocked {
  padding: 2px 4px;
  color: #389e0d;
  background: #f6ffed;
  border: 1px solid #d9d9d9;
  border-color: #b7eb8f;
}

.LoadingBar {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/** ADD CUSTOMER PROFILE PART END  */

/*?___________________________________________________  */

/** EDIT BUTTON PART START */
.editBtn {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: rgba(118, 118, 212, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: rgb(102, 102, 141);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
  height: 10px;
  fill: white;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
  content: "";
  width: 20px;
  height: 1.4px;
  position: absolute;
  bottom: 12px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}

/** EDIT BUTTON PART END */

/*?--------------------------------------  */

/** DELETE BUTTON PART START */

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border:none;
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}
.bin-bottom {
  width: 9px;
  z-index: 2;
}
.bin-top {
  width: 12px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}
.garbage {
  position: absolute;
  width: 8px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}
.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}
@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

/** DELETE BUTTON PART END */
